.page-title{
    font-size: 40px;
}

.section-title {
    display: block;
    width: 100%;
    padding: 0;
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 40px;
    color: #333;
    border: 0;
    border-bottom: 1px solid #e5e5e5;
}

.page-section {
	margin-bottom : 30px;
}

.cp-editable-empty{
	font-style: italic;
	color: #bbbbbb;
	border-bottom: none;
	text-decoration: none;	
}

.home-background{
	background-color: #eee; 
	background-image:url(../img/logo-600-gray.png);
	background-repeat: no-repeat;
	background-position:center center
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
  line-height: 60px
}
#footer .container iframe{
	vertical-align:middle;
}
/*-------------------------------------------------- */

.scroll {
    overflow: auto;
    border: 1px solid #ddd;
    background-color: #eeeeee;
    padding: 10px;
    white-space:pre;
    font-size: 12px;
    cursor: hand;
    /*-webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: inset 4px 4px 10px 0px rgba(0, 0, 0, 0.3);
    box-shadow: inset 4px 4px 10px 0px rgba(0, 0, 0, 0.3);*/
}

.terminal {
    font-family: "Courier New";
}


.scroll-expanded {
	height: 200px;
}

.scroll-collapsed {
    height: 30px;
}

.btn-xlarge {
    padding: 21px 29px;
    font-size: 20px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}

.table td {
    vertical-align: middle!important;
}

.column-with-btns{
    padding-bottom: 0px!important;
    padding-top: 0px!important;
    text-align: right!important;
}

/* Editable text input*/
.editableText {
    cursor: hand;
    white-space : pre-wrap;
}
.editableText form input {
    font: inherit;
    color: inherit;	
    vertical-align:baseline;
}

/* Modal windows */
#basic-modal-content {display:none;}
#simplemodal-overlay {background-color:#000;}
#simplemodal-container {
    width:600px;
    color:#bbb;
    background-color:#ffffff;
    border:1px solid #444;
    padding:12px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
#simplemodal-container .simplemodal-data {padding:8px;}
#simplemodal-container code {background:#141414; border-left:3px solid #65B43D; color:#bbb; display:block; font-size:12px; margin-bottom:12px; padding:4px 6px 6px;}
#simplemodal-container a {color:#ddd;}
#simplemodal-container a.modalCloseImg {background:url(../img/x.png) no-repeat; width:25px; height:29px; display:inline; z-index:3200; position:absolute; top:-15px; right:-16px; cursor:pointer;}
#simplemodal-container h3 {color:#84b8d9;}