<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
	">

	<!-- Loading properties -->
	<bean id="appProperties"
		class="org.springframework.beans.factory.config.PropertiesFactoryBean">
		<property name="singleton" value="true" />

		<property name="ignoreResourceNotFound" value="true" />
		<property name="locations">
			<list>
				<!-- Configuration par défaut -->
				<value>classpath*:/org/centralperf/config/centralperf.properties
				</value>
				<!-- Configurations surchargées localement -->
				<value>classpath*:/org/centralperf/config/centralperf-*.properties
				</value>
				<!-- Configurations surchargées de manière générale (généralement dans le répertoire /shared/classes/ du serveur) -->
				<value>classpath*:/centralperf/centralperf-*.properties</value>				
				<value>classpath*:/centralperf-*.properties</value>
			</list>
		</property>
	</bean>
	<bean id="propertyConfigurer"
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="properties" ref="appProperties" />
	</bean>

	<context:annotation-config />
	<context:component-scan base-package="com.centralperf"/>

	<import resource="bootstrapContext.xml" />
	<import resource="persistenceContext.xml" />
	
	
</beans>